.container {
  display: flex;
  height: 300px;
  border-bottom: 1px solid black;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.bar {
  margin: 0px 20px;
  width: 20px;
  /* height: 100px; */
  /* background-color: blue; */
  background-image: linear-gradient(yellow, blue);
  border: 1px solid black;
}
